@model WebApiFetcher.Models.CommentStruct
@{
    ViewData["Title"] = "Index";
}

<html>
<body>
    <form class="form-inline" method="POST">
        <div class="form-group col-md-offset-3">
            <label for="userId" class="label label-primary label-btn">Enter user id:</label>
            <input id="userId" name="userId" class="form-control " />
        </div>
        <button type="submit" class="btn btn-success">Send</button>
    </form>
    @if (Model != null)
    {
    <table class="table table-bordered table-hover table-striped d-lg-table-cell">
        <thead>
            <tr>
                <th>Longest comment </th>
                <th>Most liked comment</th>
                <th>Comments count</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.LongestComment)
                </td>
                <td>
                    @Html.DisplayFor(model => model.MostLikedComment)
                </td>
                <td>
                    @Html.DisplayFor(model => model.CommentsCount)
                </td>
            </tr>
        </tbody>
    </table>
    }
</body>
</html>

